:root {
  --primary-color: #f3ece4;
  --tertiary-color: #d45715;

  --p-text: "Nunito", sans-serif;
  --brand-text: "Paytone One", serif;
}

p {
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--primary-color);
}

#loadingScreen {
  position: fixed; /* Make it overlay everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

#nonLoadingContent {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.heading-text {
  font-family: var(--brand-text);
}

.p-text {
  font-family: var(--p-text);
}

.content {
  padding-left: 7rem;
  padding-right: 7rem;
  margin-bottom: 4rem;
}

.mynav {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(243, 236, 228, 1) 40%,
    rgba(243, 236, 228, 0) 100%
  );
  z-index: 1000;
}

#mynavbar {
  background-color: var(--primary-color);
  margin: 1rem 4rem;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.mynavbar-brand {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.mynav-item {
  color: black;
  text-decoration: none;
}

.mynav-item:hover {
  color: var(--tertiary-color);
}

.mybutton {
  position: relative;
  border: none;
  border-radius: 40px;
  background-color: var(--tertiary-color);
  padding: 8px 20px;
  color: white;
  overflow: hidden;
  transition: all 0.15s ease;
}

.mybutton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle 10rem at var(--x) var(--y),
    rgba(192, 192, 192, 0.8) 0%,
    rgba(192, 192, 192, 0.3) 40%,
    rgba(192, 192, 192, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.mybutton:hover {
  background: var(--tertiary-color);
  color: white;
  border: none;
}

.mybutton:hover::before {
  opacity: 1;
}

.mynav-link {
  text-decoration: none;
  color: inherit;
}

#topSection {
  padding-top: 9rem;
}

.mytext {
  font-family: var(--p-text);
  color: black;
  font-size: 2.5em;
}

.highlighted-text {
  font-family: var(--brand-text);
}

.shapes-style {
  width: 18rem;
  max-width: 100%;
}

.myheading {
  font-family: var(--brand-text);
  font-size: 2rem;
}

.myp {
  font-family: var(--p-text);
  font-size: 1.6rem;
  font-weight: 600;
}

.skill-icon {
  width: 1.6rem;
}

.mycard {
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem;
  z-index: -1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mycard-pic {
  width: 100%;
  margin-bottom: 1rem;
}

#worksSection {
  .myp {
    font-size: 1.2rem;
  }
}

#bottomSection {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#bottomSection {
  h1.big-font {
    font-size: 2.5rem;
  }

  button.big-font {
    font-size: 2rem;
    padding: 1rem 3rem;
  }

  p.big-font {
    font-size: 2rem;
  }
}

#footerSection {
  color: gray;
  .small-font {
    font-size: 1rem;
  }
  padding-bottom: 2rem;
  margin-bottom: 0;
}

#footerSectionAbout {
  color: gray;
  .small-font {
    font-size: 1rem;
  }
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.w-90 {
  width: 90%;
}

.form-control {
  color: gray;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

#contactButton {
  padding: 0.9rem 4rem;
  font-size: 1.8rem;
  border-radius: 60px;
}

#sendFormButton {
  padding: 0.6rem 4rem;
  font-size: 1.2rem;
  border-radius: 40px;
}

.wrapper {
  min-height: 100vh;
}

#navButton {
  position: fixed;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  img {
    width: 65px;
  }
  background-color: transparent;
}

#navMenu {
  position: fixed;
  left: 10rem;
  bottom: 2rem;
  background-color: var(--primary-color);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

#navMenu.open {
  max-height: 400px;
  opacity: 1;
}

#miniNav {
  position: fixed;
  z-index: 1030;
  bottom: 2rem;
  left: 5rem;
}

.menuBtn {
  background-color: var(--tertiary-color);
  padding: 1rem 4rem;
  border-top: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  border-left: 1px solid rgba(100, 100, 100, 0.5);
  border-right: 1px solid rgba(100, 100, 100, 0.5);
  font-size: 1.2rem;
}

.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid rgba(100, 100, 100, 0.5);
}

.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.thank-message {
  padding-top: 10rem;
}
